article{
    margin: 80px;

    li{
        font-weight: 300 !important;
    }

    strong{
        font-weight: 600;
    }

    img{
        width: 300px;
        height: auto;
    }
}

#fotoProducto{
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#psicologiaDelColor{
    display: inline-block;

    .divColores{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div{
            width: 50%;

            @media (max-width: 1100px) {
                width: 100%;
            }
        }

        @media (max-width: 1100px) {
            display: flex;
            flex-direction: column;
        }
    }

    img{
        width: 300px !important;
        height: auto !important;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 1100px) {
            width: 400px !important;
            height: auto !important;
        }
    }
}

#feedInstagram{
    .divFeedIG{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        img{
            margin: 10px;
        }
    }
}

#sitioWeb{
    li{
        font-weight: bold !important;
    }
}

#seo{
    img{
        width: 600px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 800px) {
            width: 400px;
            height: auto;
        }
    }
}

//Etiquetas Personalizadas
rojo{
    color: red;
}

naranja{
    color: orange;
}

amarillo{
    color: yellow;
}

azul{
    color: blue;
}

verde{
    color: green;
}

violeta{
    color: violet;
}

marron{
    color: brown;
}

rosa{
    color: pink;
}

blanco{
    color: white;
    background-color: black;
}

//clases globales
.enLinea{
    display: inline-block;
}

.centradoStrong{
    text-align: center;
    font-weight: bold !important;
    font-size: 20px !important;
}