@import "display";

.bodyServicios{
    @include flexi(column, nowrap, space-evenly, center, center)
}

#navServicios{
    @include flexi(column, nowrap, flex-start, center, center);

    #volverAhome{
        text-decoration: none;
        color: #2c6fd4;
        margin-top: 20px;
    }

    #logo{
        width: 12vh;
        height: auto;
        margin-top: 20px;
    }

    h6{
        margin-top: 20px;
        font-style: italic;
    }

    ul{
        list-style: none;

        li{
            text-align: center;
            margin-right: 18%;
            margin-top: 20px;

            a{
                text-decoration: none;
                color: #2c6fd4;
                font-family: 'Zilla Slab', sans-serif !important;
                font-weight: 700 !important;
            }
        }
    }
}

#principalServicios{
    @include flexi(column, nowrap, space-evenly, center, center);
    width: 100%;
    
    h2{
        margin-top: 60px;
    }

    hr{
        width: 10%;
        height: 5px;
        margin-left: 45%;
        margin-right: 45%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #pills-tabContent{
        width: 80vh;
        height: auto;
    }

}

#seccionPlanes{
    @include flexi(column, nowrap, space-evenly, center, stretch);

    h2{
        text-align: center;
        margin-top: 100px;
    }

    h3{
        text-align: center;
    }

    #botonWhatsapp{
        width: 15%;
        margin-left: auto;
        margin-right: auto;

        //Media Cel
        @media (max-width: 740px) {
            width: 50%;
        }

        //Media Tablet
        @media (min-width: 741px) and (max-width: 1240px) {
            width: 25%;
        }
    }

    hr{
        width: 10%;
        height: 5px;
        margin-left: 45%;
        margin-right: 45%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #planes{
        @include flexi(row, wrap, space-evenly, center, center);
    
        .planes{
            @include flexi(column, nowrap, space-evenly, center, center);
            width: 25%;
            height: 500px;
            margin-bottom: 50px;
            border-radius: 5px;
            background-color: #2c6fd4d7;
            box-shadow: 10px 10px 10px 10px lightgrey;

            img{
                width: 10vh;
                height: auto;

                &:hover{
                    transform: scale(1.2);
                    transition: 0.3s;
                }
            }
            
            h5{
                color: white;
            }

            li{
                margin-top: 5px;
                color: white;
                list-style: none;
            }
    
            i{
                margin-left: 50px;
                float: right;
            }
    
            .ok{
                color: greenyellow;
            }
    
            .not{
                color: red;
            }

            a{
                text-decoration: none;
                color: black;
                border: solid 1px black;
                border-radius: 5px;
                background-color: #fff;
                margin-bottom: 20px;
                padding: 5px;
                padding-left: 20px;
                padding-right: 20px;

                &:hover{
                    background-color: black;
                    color: white;
                    transition: 0.3s;
                }
            }
        }

        //Media Cel
        @media (max-width: 576px) {
            @include flexi(column, nowrap, space-evenly, center, center);

            .planes{
                @include flexi(column, nowrap, space-evenly, center, center);
                width: 50%;
            }
        }

        //Media Tablet
        @media (min-width: 577px) and (max-width: 1200px) {
            @include flexi(row, wrap, space-evenly, center, center);

            .planes{
                @include flexi(column, nowrap, space-evenly, center, center);
                width: 38%;
            }
        }
    }
}

/*Footer Servicios*/
#iconosRedesSociales{
    @include flexi(row, nowrap, center, center, center);

    svg{
        width: 25px;
        height: auto;
        color: gray;

        &:hover{
            transform: none;
        }
    }
}

/*DISTINTAS PÁGINAS*/
/*MARKETING DIGITAL*/
.mastheadMk{
    background: linear-gradient(to bottom, rgba(66, 78, 92, 0.8) 0%, rgba(66, 75, 92, 0.8) 100%), url("../assets/img/portfolio/fullsize/marketingDigital.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-size: cover !important;
}

#cuerpoMk{
    margin-left: 10%;
    margin-right: 10%;
    @include flexi(column, nowrap, space-evenly, center, center);
    img{
        width: 300px;
        height: auto;
    }

    //Media para Cel y Tablet
    @media (max-width: 1020px) {
        img{
            width: 40%;
            height: auto;
        }
    }
}

/*COMMUNITY MANAGER*/
.mastheadCm{
    background: linear-gradient(to bottom, rgba(66, 78, 92, 0.8) 0%, rgba(66, 75, 92, 0.8) 100%), url("../assets/img/portfolio/fullsize/communityManager.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-size: cover !important;
}

#cuerpoCM{
    margin-left: 10%;
    margin-right: 10%;
    @include flexi(column, nowrap, space-evenly, center, center);
    img{
        width: 300px;
        height: auto;
    }

    //Media para Cel y Tablet
    @media (max-width: 1020px) {
        img{
            width: 40%;
            height: auto;
        }
    }
}

/*FOTOGRAFÍA*/
.mastheadFoto{
    background: linear-gradient(to bottom, rgba(66, 78, 92, 0.8) 0%, rgba(66, 75, 92, 0.8) 100%), url("../assets/img/portfolio/fullsize/fotografia.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-size: cover !important;
}

.botonPrev{
    margin-left: 10px;
}


/*BRINDAMOS SOLUCIONES*/
.mastheadSol{
    background: linear-gradient(to bottom, rgba(66, 78, 92, 0.8) 0%, rgba(66, 75, 92, 0.8) 100%), url("../assets/img/portfolio/fullsize/brindamosSoluciones.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-size: cover !important;
}

#solucionesIntegrales{
    svg{
        width: 40px;
        height: auto;
    }
}

/*CONSULTORÍA*/
.mastheadConsultoria{
    background: linear-gradient(to bottom, rgba(66, 78, 92, 0.8) 0%, rgba(66, 75, 92, 0.8) 100%), url("../assets/img/portfolio/fullsize/consultoria.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-size: cover !important;
}

#principalConsultoria{
    margin-left: 10%;
    margin-right: 10%;

    #imgConsultoria{
        @include flexi(row, nowrap, space-evenly, center, center);

        img{
            width: 25%;
            height: auto;
        }
    }
}

/*ASISTENCIA ADMINISTRATIVA*/
.mastheadAsistencia{
    background: linear-gradient(to bottom, rgba(66, 78, 92, 0.8) 0%, rgba(66, 75, 92, 0.8) 100%), url("../assets/img/portfolio/fullsize/asistenciaAdministrativa.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-size: cover !important;
}

#principalAsistencia{
    margin-left: 10%;
    margin-right: 10%;

    #imgAsistencia{
        @include flexi(row, nowrap, space-evenly, center, center);

        img{
            width: 25%;
            height: auto;
        }
    }
}
