@import "animaciones";
@import "mediaCel";
@import "display";
@import "servicios";

/*FUENTES*/

h1{
    font-family: 'Zilla Slab', serif !important;
    font-weight: 700 !important;
}

h2{
    font-family: 'Zilla Slab', serif !important;
    font-weight: 600 !important;
}

h3{
    font-family: 'Zilla Slab', serif !important;
    font-weight: 500 !important;
}

h4{
    font-family: 'Zilla Slab', serif !important;
    font-weight: 400 !important;
}

h5{
    font-family: 'Zilla Slab', serif !important;
    font-weight: 300 !important;
}

h6{
    font-family: 'Zilla Slab', serif !important;
    font-weight: 200 !important;
}

li, a{
    font-family: 'Zilla Slab', sans-serif !important;
    font-weight: 700 !important;
}

p, span{
    font-family: 'Zilla Slab', sans-serif !important;
    font-weight: 300 !important;
}

/*MAPS*/
$coloresRedes:(
    twitter:#00acee,
    instagram:rgb(241, 56, 96),
    whatsapp:#00bb2d,
    facebook:#3b5998
);

/*NAVBAR*/
.logo{
    width: 50px;
    height: auto;
}

.logoServicios{
    width: 50px;
    height: auto;
}

/*ABOUT*/
#about{
    @include flexi(column, nowrap, center, center, center);
    background-color: lightslategrey;
    padding-bottom: 100px;

    h2{
        margin-top: 80px !important;
    }

    hr{
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    #integrantes{
        @include flexi(row, wrap, space-between, space-between, center);
    
        div{
            @include flexi(column, nowrap, flex-start, center, center);
            border: solid 1px white;
            background-color: white;
            width: 30%;
            height: 350px;
            margin: 10px;
        
            *{
                margin: 10px;
            }
        }
    
        img{
            width: 20vh;
            height: 100px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: solid 1px white;
            
            @media (min-width: 1201px) {
                filter: grayscale(1);
    
                &:hover{
                    filter: none;
                }
            }
            
        }
    
        h3{
            font-size: 22px;
            font-weight: bold;
            color: black;
        }
    
        h4{
            font-size: 18px;
            font-style: italic;
            color: black;
        }
    
        p{
            font-size: 14px;
            text-align: justify;
            color: black;
        }
    
        //Media Cel
        @media (max-width: 576px) {
            @include flexi(column, nowrap, space-evenly, center);
    
            div{
                width: 60%;
            }
    
            p{
                font-size: 10px;
            }
        }
    
        //Media tablet
        @media (min-width: 577px) and (max-width: 1200px) {
            @include flexi(row, wrap, center, center, center);

            div{
                width: 40%;
            }
            
            p{
                font-size: 12px;
            }
        }
    }
}



/*SERVICIOS*/
#accesoAservicios{
    @include flexi(row, wrap, center, center);
    margin: 20px;
    margin-top: 60px;
    
    a{
        font-size: 20px;
        font-weight: bold;
        color: grey;
        border: solid 1px grey;
        padding: 20px;
        text-decoration: none;

        &:hover{
            background-color: linear-gradient(to bottom, rgb(27, 69, 116) 0%, rgb(57, 115, 224) 100%);
            color: black;
            transition: 0.5s;
        }
    }
}

/*CONTACTO*/
#botonWhatsapp:hover{
    background-color: #00bb2d;
    transition: 0.4s;
}

#logoWhatsapp{
    margin-right: 20px;
}

.redesSociales{
    width: 5vh;
    height: auto;
    margin: 10px;
}

.redesSociales:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

@each $nombreColor, $color in $coloresRedes{
    .btn--#{$nombreColor}{
        color: $color;
    }
}

/*FORMULARIO*/
#submitButton{
    border-color: black;
}

/*ERROR 404*/
#body404{
    @include flexi(column, nowrap, space-evenly, center, center);
    margin-top: 10vh;

    #logo{
        width: 20%;
        height: auto;
    }

    a{
        text-decoration: none;
        color: #2c6fd4;
        padding: 2px 20px;
        border: solid 1px #2c6fd4;
        border-radius: 5px;
        margin-bottom: 40px;

        &:hover{
            background-color: #2c6fd4;
            color: white;
        }
    }
}
